* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/img/background-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.main-container {
  margin: auto;
  width: 1044px;
  height: 700px;
}

.milan-navigation > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.milan__email,
.milan__phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

.milan__email:hover,
.milan__phone:hover {
  transition: 0.5s;
  color: #f26522;
}

.milan__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

/* ******logo */

.milan-logo {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, min-content);
  column-gap: 8px;
  text-decoration: none;
}

.item-1 {
  background-image: url(/img/logo-3-white.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 53px;
  height: 47px;
  grid-row: span 2;
}

.item-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
}

.item-3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.milan-logo:hover .item-2,
.milan-logo:hover .item-3 {
  transition: 0.5s;
  color: #f26522;
}

.milan-logo:hover .item-1 {
  transition: 0.5s;
  background-image: url(/img/logo-3-orange.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* *************************** */
.milan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 45px;
  row-gap: 27px;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 17px 0 48px 0;
}

.milan__content > a > img {
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(45deg, white, black) 1;
}

.milan__content > a {
  box-sizing: border-box;
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.milan_photo__details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  box-sizing: border-box;
  position: absolute;
  bottom: 38px;
  width: 100%;
  height: 55px;
  background: #f26522;
  padding: 7px 16px;

  /* change  */
  opacity: 0;
}

.milan_photo__details > p:nth-child(1) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: left;
  color: #ffffff;
}

.milan_photo__details > p:nth-child(2) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
}

.milan_photo__details > p:nth-child(3) {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  grid-row: span 2;
  color: #ffffff;
}

.milan_photo__details > p:nth-child(3)::after {
  content: ">";
}

.milan__content > a:hover .milan_photo__details {
  animation-duration: 1s;
  animation-name: slidein;
  /* transition: 2.5s; */

  color: #f26522;
  opacity: 1;
}

@keyframes slidein {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 38px;
    opacity: 1;
  }
}

.milan__content > a:hover {
  transition: 0.5s;
  color: #f26522;
}

.milan__footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}
